/* styles go here */
.form-field {
  display: block;
  margin-bottom: 10px;
}

.form_block {
  margin-bottom: 20px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.login:last-child {
  margin-bottom: 0;
}

.info:last-child {
  margin-bottom: 0;
}

.opinion:last-child {
  margin-bottom: 0;
}
